.page-title {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-title {
    margin-bottom: 20px;
}

.area-text {
    height: 300px;
    margin-bottom: 20px;
}

.btn {
    width: 50%;
    margin-bottom: 20px;
    align-self: center;
}

.a-return {
    align-self: center;
}

.error {
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: palevioletred;
    color: darkred;
    font-size: 20px;
    text-align: center;
}

.author,
.no-author {
    font-size: smaller;
    font-style: italic;
    font-color: #eee;
}

.error-db,
.error404 {
    padding: 40px;
    background-color: lightblue;
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}
